.auto{
    max-width: 1180px;
    margin: 0 auto;
    padding: 15px 10px 80px 10px;
}

.auto__cont{
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.auto__card-title{
    align-self: flex-start;
}

.auto__card{
    width: 480px;
    max-width: 480px;
    border: 3px solid rgba(54, 126, 243, 0.7);
    padding: 18px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.slider__img{
    width: 420px;
    max-height: 230px;
    object-fit: cover;
    margin-bottom: 15px;
}


.slider__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.slide__item-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.slider__list li {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
.slider__list li::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.3);
    max-height: 50px;
}
  
.slider__list .active-item::before {
    background-color: transparent;
}
  
.auto__title{
    padding-left: 20px;
}


.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1000; /* Увеличиваем z-index, чтобы перекрыть все элементы */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Отключаем прокрутку */
    background-color: rgba(0, 0, 0, 0.8); /* Затемненный фон */
}

.modal-content {
    position: absolute; /* Позиционируем абсолютно */
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем на половину ширины и высоты для центрирования */
    width: 80%; /* Ширина изображения */
    max-width: 700px; /* Максимальная ширина изображения */
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (width <= 1002px) {
    .slider__img{
        width: 390px;
        max-height: 180px;
    }

    .slide__item-img{
        width: 35px;
        height: 35px;
    }
}

@media screen and (width <= 475px) {
    .slider__img{
        width: 300px;
        max-height: 160px;
    }

    .slide__item-img{
        width: 35px;
        height: 35px;
    }

    .slider__list{
        gap: 15px;
    }

    .auto{
        padding-bottom: 60px;
    }
}

@media screen and (width <= 390px) {
    .auto{
        padding-bottom: 50px;
    }

    .auto__cont{
        margin-top: 25px;
    }

    .auto__title{
        font-size: 24px;
        line-height: 108%;
    }

    .auto__card-title{
        font-size: 16px;
        line-height: 112%;
    }

    .auto__card{
        padding: 18px;
    }

}

@media screen and (width <= 360px) {
    .slider__img{
        width: 250px;
        max-height: 120px;
    }

    .slide__item-img{
        width: 25px;
        height: 25px;
    }
}
